.userContainer{
  padding: 1rem 10rem;
}

input::placeholder {
  padding-left: 10px;  
}

.usersTb{
  border-collapse: collapse;
  width: 100%;
}
.usersTb td, .usersTb th{
  border: 1px solid #ddd;
  padding: 8px;
}
.usersTb tr:nth-child(even){
  background-color: #f2f2f2;
}
.usersTb tr:hover {
  background-color: #ddd;
}
.usersTb th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #656666;
  color: #fff;
}

.sort{
  cursor:pointer;
}
.sort:hover{
  background-color:#656666 ;
}
  .userButton {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  .delete{
    background-color: #d80808;
  }
  .addButton{
    padding: 1rem 4rem;
    cursor: pointer;
    background-color: #007726;
    color: #fff;
    border: none;
    border-radius: 3px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .userButton:hover {
    background-color: #0056b3;
  }
  
  a {
    display: block;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .user-details{
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    background-color: #ddd;
  }
